registry=https://registry.npmjs.org/
@01labec:registry=https://npm.pkg.github.com/
@jelou-ui:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=3a5f89eb4b1ff1ac84c23284a7e7532a28fbf62e

legacy-peer-deps=true
no-optional=true
no-fund=true
no-audit=true
