registry "https://registry.npmjs.org/"

"@01labec:registry" "https://npm.pkg.github.com/"
"@jelou-ui:registry" "https://npm.pkg.github.com/"

npmAuthToken "3a5f89eb4b1ff1ac84c23284a7e7532a28fbf62e"

legacyPeerDeps true
noOptional true
noFund true
noAudit true
